.main {
  border: black 1px solid;
  width: 99%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.reach-score__container,
.post__container,
.friends__container,
.gado__container,
.wapp__container {
  margin: 10px 5px;
}

.reach-score__container {
  text-align: center;
}

.post-button {
  color: white;
  background-color: rgb(83, 123, 223);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.friends__button,
.gado__button,
.wapp__button {
  width: 310px;
}
